{% extends "account/base.html" %}

{% block title %}Создать учетную запись{% endblock %}

{% block settings %}
<style type="text/css">
    #login 
    {
    margin: 10px auto;
    }
</style>
{% load static %}
<link rel="stylesheet" href="{% static 'account/css/picture.css' %}" media="screen" type="text/css" />
{% endblock %}

{% block name %}Профиль{% endblock %}

{% block content %}
    {% for form in user_form %}
        <p><label class="field">{{form.label}}:</label></p>
		<p>{{form}}</p>
    {% endfor %}
    {% for form in profile_form %}
        <p><label class="field">{{form.label}}:</label></p>
		<p>{{form}}</p>
    {% endfor %}
    <p><img src={{profile_photo_url}}></p>
    <p>{% csrf_token %}</p>
    <p><a href="{% url 'account:change_password' %}" color="gray" type="submit" class="previous">Изменить пароль</a></p>
    <p><input color='green' type="submit" value="Сохранить изменения"></p>
    <p><a href="{% url 'start:start' %}" color="gray" type="submit" class="previous">Назад</a></p>
{% endblock %}